<<<<<<< HEAD
doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css")
  title Pong Stat Tracker
script(src='node_modules/jquery/dist/jquery.js')
script(src='render.js' type='module')
script(src='backend.js' type='module')
.big-text(style='font-size: 40px') LOGIN
.columns
  .column
    form
      input#username(value='username') 
      input#password(value='password')
      button#login(onclick='loginUser()') Login
=======
doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css")
  title Pong Stat Tracker
script(src='node_modules/jquery/dist/jquery.js')
script(src='render.js' type='module')
script(src='backend.js' type='module')
.big-text(style='font-size: 40px') LOGIN
.columns
  .column
    form
      input#username(value='username') 
      input#password(value='password')
      button#login(onclick='loginUser()') Login
>>>>>>> 627704a468f0ad2d5bab5291fd3aa05c1926067c
  .column