doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css")
  style.
    .mainpage{
    text-align: center;
    font-size: 69px;
    margin-top: 60px;
    background-color: maroon;
    color: rgb(252, 214, 143);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
  title Pong Stat Tracker
script(src='node_modules/jquery/dist/jquery.js')
script(src='render.js' type='module')
.mainpage
  h1 Pong Stat Tracker App
  a(href='testing')
    button#play Play Now
  a(href='login')
    button Login
  #teamone
    | Team 1
    input#name1
    input#name2
  #teamtwo
    | Team 2
    input#name12
    input#name22