doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css")
  style.
    .navbar {
    float: none;
    overflow: hidden;
    background-color: rgb(148, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    display: inline-block;
    color: aquamarine;
    }
    #main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px;
    }
    .cups {
    text-align: center;
    margin-top: 150px;
    }
    .score2 {
    margin-top: 100px;
    text-align: center;
    color: black;
    }
    .score1 {
    margin-top: 100px;
    text-align: center;
    color: black;
    }
    .column2 {
    float: right;
    width: 50%;
    }
    .pongname {
    font-size: 22px;
    text-decoration: underline;
    }
    .players {
    text-align: center;
    }
    .pong {
    font-size: 36px;
    float: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: khaki;
    }
    /* Clear floats after the columns */
  title GameTime Bitches
  // Include links to CSS stylesheets below
  // TODO (optional): Add link to bulma here
.navbar
  .pong PONG
  #players
    | Player Select
    button#p1.button3 Player 1
    button#p2.button3 Player 2
    button#p3.button3 Player 3
    button#p4.button3 Player 4
  #shots
    | Shot Type
    button#hit.button3 Hit
    button#miss.button3 Miss
.columns
  .column
    #t1s.score1
      #rem1 Teamone cups remaining = 10
      br
      .pongname
        | Player 1
        br
      #p1sc
        | Shots: 0
        br
        |  Hits: 0
        br
        |  Misses: 0
        br
      .pongname
        | Player 2
        br
      #p2sc
        | Shots: 0
        br
        |  Hits: 0
        br
        |  Misses: 0
        br
  .column
    #teamone.cups
      div(style='color:black;font-size:30px;') Team 1
      form#t1
        .title
          | |
          img#1.cup(src='SoloCup-512.png' width='60' height='38')
          |  |
        .title
          | |
          img#2.cup(src='SoloCup-512.png' width='60' height='38' onclick='imgWindow();')
          |  |
          img#3.cup(src='SoloCup-512.png' width='60' height='38' onclick='imgWindow();')
          |  |
        .title
          | |
          img#4.cup(src='SoloCup-512.png' width='60' height='38' onclick='imgWindow();')
          |  |
          img#5.cup(src='SoloCup-512.png' width='60' height='38' onclick='imgWindow();')
          | |
          img#6.cup(src='SoloCup-512.png' width='60' height='38' onclick='imgWindow();')
          | |
        .title
          | |
          img#7.cup(src='SoloCup-512.png' width='60' height='38' onclick='imgWindow();')
          |  |
          img#8.cup(src='SoloCup-512.png' width='60' height='38' onclick='imgWindow();')
          |  |
          img#9.cup(src='SoloCup-512.png' width='60' height='38' onclick='imgWindow();')
          |  |
          img#10.cup(src='SoloCup-512.png' width='60' height='38' onclick='imgWindow();')
          |  |
  .column
    #teamtwo.cups
      div(style='color:black;font-size:30px;') Team 2
      form#t2
        .title
          | |
          img#11.cup(src='SoloCup-512.png' width='60' height='38')
          |  |
        .title
          | |
          img#12.cup(src='SoloCup-512.png' width='60' height='38' onclick='imgWindow();')
          |  |
          img#13.cup(src='SoloCup-512.png' width='60' height='38' onclick='imgWindow();')
          |  |
        .title
          | |
          img#14.cup(src='SoloCup-512.png' width='60' height='38' onclick='imgWindow();')
          |  |
          img#15.cup(src='SoloCup-512.png' width='60' height='38' onclick='imgWindow();')
          | |
          img#16.cup(src='SoloCup-512.png' width='60' height='38' onclick='imgWindow();')
          | |
        .title
          | |
          img#17.cup(src='SoloCup-512.png' width='60' height='38' onclick='imgWindow();')
          |  |
          img#18.cup(src='SoloCup-512.png' width='60' height='38' onclick='imgWindow();')
          |  |
          img#19.cup(src='SoloCup-512.png' width='60' height='38' onclick='imgWindow();')
          |  |
          img#20.cup(src='SoloCup-512.png' width='60' height='38' onclick='imgWindow();')
          |  |
  .column
    #t2s.score2
      #rem2 Teamtwo cups remaining = 10
      br
      .pongname
        | Player 3
        br
      #p3sc
        | Shots: 0
        br
        |  Hits: 0
        br
        |  Misses: 0
        br
      .pongname
        | Player 4
        br
      #p4sc
        | Shots: 0
        br
        |  Hits: 0
        br
        |  Misses: 0
        br
script(src='node_modules/jquery/dist/jquery.js')
script(src='render.js' type='module')